# This is My 1st class of Jupyter Notebook

In [2]:
print("Hello world")

Hello world

In [7]:
#This is about the introducton of learner
print("Hello! I'm Tanisha")
print('23')#This is Number
print(2+90)

Hello! I'm Tanisha
23
92

# This is My 2nd class of Jupyter Notebook

## Creating a variable

In [10]:
x = 5 
print(x)

5

In [12]:
a = 10
b = 2.5
c = "Tanisha"
print(a,b,c)

10 2.5 Tanisha

In [14]:
y = "We are learning jupyter notebook"
print(y)

We are learning jupyter notebook

In [16]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
b                      float       2.5
c                      str         Tanisha
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001881FDB5300>
dataframe_hash         function    <function dataframe_hash at 0x000001881FDB6020>
dtypes_str             function    <function dtypes_str at 0x000001881FDB53A0>
get_dataframes         function    <function get_dataframes at 0x000001881FDB5760>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001881FDB5F80>
is_data_frame          function    <function is_data_frame at 0x00000188223ECCC0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         5
y                      str         We are learning jupyter notebook

In [ ]:
# Rules for python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number 
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the python kyewords.

# A variable name must start with a letter or the underscore character

In [21]:
apple = 23
print(apple)

23

In [23]:
apple_box = 2.3
print(apple_box)

2.3

In [25]:
_ = 89
print(_)

89

In [27]:
_r = 4.8
print(_r)

4.8

In [29]:
mnp_ = 3
print(mnp_)

3

# A variable name cannot start with a number

In [36]:
1 = 23
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2060739776.py, line 1)

In [38]:
1 == 23
print(1)

1

In [40]:
1_apple = 2345
print(1_apple)

SyntaxError: invalid decimal literal (1076143812.py, line 1)

In [42]:
apple_1 = 2345
print(apple_1)

2345

# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [45]:
abc123nmp = 567
print(abc123nmp)

567

In [47]:
abc123456789123567897765435679 = 2333
print(abc123456789123567897765435679)

2333

In [49]:
@$& = 78
print(@$&)

SyntaxError: invalid syntax (2853887199.py, line 1)

# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [57]:
age = 34
Age = 56
AGE = 45
aGE = 67
print(age)
print(Age)
print(AGE)
print(aGE)

34
56
45
67

# Data types in python

In [60]:
a = 34
b =3.4
c = "my name is Tanisha"
print(a)
print(type(a))
type(b)

34
<class 'int'>

float

In [64]:
v = 4+6j
print(v)
print(type(v))

(4+6j)
<class 'complex'>

In [68]:
num = [23,45,67,89]
print(num)
print(type(num))

[23, 45, 67, 89]
<class 'list'>

In [70]:
num1 = True
print(type(num1))

<class 'bool'>

In [72]:
nu1 = False
print(type(nu1))

<class 'bool'>

# A variable name cannot be any of the python kyewords.

In [34]:
#print = 56
#print(print)

In [32]:
#int = 2
#print(int)

# This is my 3rd class of Jupyter Notebook

# Arithmetic operator

# adition

In [7]:
a = 2
b = 3
print(a+b)

5

In [9]:
x = 1.5
y = 4.5
print(x+y)

6.0

In [13]:
a1 = "Hello"
b1 = "world"
print(a1+ " " +b1)

Hello world

In [15]:
x1 = 2+3j
y1 = 1+6j
print(x1+y1)

(3+9j)

In [17]:
w1 = -6
w2 = 9
print(w1+w2)

3

# Subtraction operator

In [20]:
num1 = 5
num2 = 3
print(num1-num2)

2

In [24]:
a6 = 8.6
b6 = 7.4
print(a6-b6)

1.1999999999999993

In [3]:
a4 = 5+9j
b4 = 3+5j
print(a4-b4)

(2+4j)

# Multiplication operator

In [7]:
n = 5
m = 9
print(n*m)

45

In [9]:
n1 = 3.4567876556765
m1 = 9.3456765456756
print(n1+m1)

12.8024642013521

In [13]:
str = "hi I am Tanisha"
print(str*8)

hi I am Tanishahi I am Tanishahi I am Tanishahi I am Tanishahi I am Tanishahi I am Tanishahi I am Tanishahi I am Tanisha

In [15]:
a1 = 2+6j
b1 = 5+7j
print(a1*b1)

(-32+44j)

# Divison operator

In [18]:
a = 45
b = 5
print(a/b)

9.0

In [20]:
a1 = 23456.7898765
b1 = 234.5678765
print(a1/b1)

100.00000949192204

In [22]:
a2 = 5+7j
b2 = 2+4j
print(a2/b2)

(1.9-0.3j)

# Modulous

In [25]:
print(12%3)

0

In [27]:
print(123456543435656634566%23)

9

In [29]:
a1 = 234567.4567867
b1 = 2.3
print(a1%b1)

1.956786700018637

can't use complex

# Floor Divison

In [32]:
print(12//3)

4

In [34]:
print(45678976//34)

1343499

In [42]:
print(89.67//87.6)

1.0

# Exponent

In [45]:
a = 5
b = 3
print(a**b)

125

In [47]:
print(1234567654345678764225677654**3)

1881675294266192057183845897249314438536500138778338506499577195811866923768922264

In [1]:
w = 60
h = 5 
v = h**2
print(w/v)

2.4

In [3]:
print(5.23456765434567**2)

27.400698527921932

# Boolean Operater

In [6]:
a = True
print(type(a))

<class 'bool'>

In [8]:
a1 = False
print(type(a1))

<class 'bool'>

# Comparison Operator

In python, Comparison operator are used to compare values.These operators return true or false based on whether the comparison is true or false

Equal to ==

In [13]:
x = 5
y = 5 
print(x==y)

True

In [15]:
x = 6
y = 5 
print(x==y)

False

not equal !=

In [18]:
x = 5 
y = 3
print(x!=y)

True

In [20]:
x = 5 
y = 5
print(x!=y)

False

Greater than >

In [23]:
x = 5
y = 3
print(x>y)

True

In [25]:
x = 5
y = 13
print(x>y)

False

less than <

In [28]:
print(56<89)

True

In [30]:
print(156<89)

False

greater than or equal to >=

In [33]:
x = 5
y = 5
print(x>=y)

True

less than or equal to <=

In [36]:
x = 5
y = 5
print(x<=y)

True

# Logical Operator

In [39]:
x = True
y = False
print(x and y)

False

In [41]:
x = True
y = False
print(x or y)

True

In [52]:
x = True
print(not x)

False

In [50]:
x = False
print(not x)

True

# This is my 4th class of Jupyter Notebook

# Built in functions

## Float function

In [61]:
num_int = 10
print(type(num_int))
a = float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [65]:
a = "3.56"
print(type(a))
b = float(a)
print(b)
print(type(b))

<class 'str'>
3.56
<class 'float'>

# int function

In [4]:
a = 5.6787896765
print(type(a))
c = int(a)
print(c)
print(type(c))

<class 'float'>
5
<class 'int'>

In [8]:
a1 = "222"
print(type(a1))
b1 = int(a1)
print(b1)
print(type(b1))

<class 'str'>
222
<class 'int'>

# str function

In [21]:
a2 = 23
print(type(a2))
b = str(a2)
print(b)
print(type(b))
c = "2"
print(b+c)
print(a2+2)

<class 'int'>
23
<class 'str'>
232
25

In [23]:
x = 3.567876545676
print(type(x))
y = str(x)
print(y)
print(type(y))

<class 'float'>
3.567876545676
<class 'str'>

# Complex function

In [26]:
comp = complex(2,3)
print(comp)

(2+3j)

In [28]:
y = complex(2 , 789)
print(y)

(2+789j)

# Abs function

In [31]:
a = -23
print(abs(a))

23

In [33]:
y = -4.456765567876547
print(abs(y))

4.456765567876547

In [39]:
z = -3+4j
print(abs(z))

5.0

# len function

In [42]:
y = [45,56,56,89,90,12,34,67]
print(len(y))

8

In [44]:
z = "hello I am Tanisha"
print(len(z))

18

In [46]:
b = "cat dog"
print(len(b))

7

# This is my 5th class of Jupyter Notebook

# Built in functions

## part-2

# Bin function

In [ ]:
The bin() function in python is used to
convert an integer number ti its
binary representation as a string prefixed with '0b'.
It takes an integer as an argument
and returns its binary representation.

In [52]:
binary_rep = bin(10)
print(binary_rep)

0b1010

In [54]:
z = bin(200)
print(z)

0b11001000

In [56]:
e = bin(456789976567897656785)
print(e)

0b110001100001100111011111111111000001011110000100011000000110111010001

# Sum function

In [ ]:
The sum() function in python is used to calculate the sum
of elements in an iterable, such as lists, tuples, and other iterable objects.

In [59]:
my_list = [56,67,89,23,45,67,890,23,45,678,90989,78765]
a = sum(my_list)
print(a)

171737

In [61]:
a = "Tanisha"
b = "Hafsa"
print(a+ " " +b)

Tanisha Hafsa

In [63]:
a = [1,2,3,4,5]
starting_value = 10
total = sum(a,starting_value)
print(total)

25

# Eval function

In [ ]:
eval(): Evaluates a python expression in a string

In [70]:
a = 10
y = 5 
expression = "a+y*2"
print(eval(expression))

20

In [72]:
exp = "5/2 + 3.5"
print(eval(exp))
print(type(exp))

6.0
<class 'str'>

In [74]:
exp1 = "1234*34+67-89/8"
print(eval(exp1))

42011.875

In [76]:
x = 5
y = 2.4
z = 32
exp = "x+y-z*23/5-9*3"
print(eval(exp))

-166.79999999999998

# Help function

In [ ]:
The python help function is used to display the
documeantation of modules, function, classes, keywords, etc

In [79]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [81]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating-point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [83]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating-point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is exactly equal to the original float.
 |
 |      The ratio is in lowest terms and has a positive denominator.  Raise
 |      OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /)
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating-point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /)
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [85]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum??

# input function

In [93]:
name = input("enter your name")
print("name entered by user is", name)
print(type(name))

enter your name Tanisha

name entered by user is Tanisha
<class 'str'>

In [95]:
age = input("enter your age please")
print("age of user is", age)
print(type(age))

enter your age please 13

age of user is 13
<class 'str'>

# This is my 6th class of Jupyter Notebook

# Lecture 1 to 5 
# Special class

# Question 1

In [ ]:
You are developing a program for a competition where participants
need to solve mathematical expressions and provide the result.
You want to use python to automate the evaluation process.
Here's how you could approach it:

1)Take input from the participant to enter a mathematical expression
2)evaluate the expression entered by the participant and obtain the result.
3)Display the result to the participant.

In [104]:
expression = input("Enter the mathematical expresson please ==> ")
result = eval(expression)
print("The result of the expression is", result)
print("Thanks for participating in the maths competition")

Enter the mathematical expresson please ==>  25*45+96-52*3/2.4

The result of the expression is 1156.0
Thanks for participating in the maths competition

# Question 2

In [ ]:
Suppose you'r analyzing a database containing information
about house prices in a city. Each record includes details
such as the house size (in square feet), number of bedrooms,
and price. You want to perform various calculations and
multipulations on this dataset using python.
Answer the following questions:

1) Ask the user 1 & 2 to enter house size,
number of rooms they want and .Check the data type user has entered

2) Calculate the price of house , if per sq feet is Tk 5000.

3) Threshold price is 75 lakh Tk, which user
is paying the price above threshold price.

In [111]:
house_size_1 = float(input("User 1 enter the size of the house"))
bedrooms_1 = int(input("User 1 enter the number of bedrooms"))
price_1 = float(input("User 1 enter the buget"))

house_size_2 = float(input("User 2 enter the size of the house"))
bedrooms_2 = int(input("User 2 enter the number of bedrooms"))
price_2 = float(input("User 2 enter the buget"))

house_price_1 = house_size_1 * 5000
print("The price of type house for user 1 is", house_price_1)

house_price_2 = house_size_2 * 5000
print("The price of type house for user 2 is", house_price_2)

threshold_price = 7500000
user1_threshold = house_price_1 >= threshold_price
user2_threshold = house_price_2 >= threshold_price

print("User 1 is paying above threshold", user1_threshold)
print("User 2 is paying above threshold", user2_threshold)

User 1 enter the size of the house 1500
User 1 enter the number of bedrooms 2
User 1 enter the buget 5000000
User 2 enter the size of the house 3000
User 2 enter the number of bedrooms 3
User 2 enter the buget 8000000

The price of type house for user 1 is 7500000.0
The price of type house for user 2 is 15000000.0
User 1 is paying above threshold True
User 2 is paying above threshold True

# Question 3

In [ ]:
You are working on a project to analyze stock market data.
Create variables to store the stock symbol, current price,
and percentage change in price. Then, calculate the new price 
after a 10% increase using arithmetic operators. Finally,
prompt the user to enter their budget using the input() function,
convert it to a float using the float() function, and 
compare it with the new price

In [3]:
stock_symbol = "xyz"
current_price = 100
percent_change = 10

new_price = current_price*(1+percent_change/100)

print("the new price of the stock is", new_price)
user_budget = int(input("enter your budget"))

a = user_budget >= new_price
print("user budget is greater than new price", a)

the new price of the stock is 110.00000000000001

enter your budget 6000

user budget is greater than new price True

# Question 4

In [ ]:
You are working on a project to analyze weather data.
Create variable to store the current temperature,
the minimum temperature recorded, and the maxi